@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #caeb66;
  --color-secondary: #03373d;
  --color-base-300: #606060;
}

body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  background-color: #eaeced;
}

.input-field {
  @apply border border-[#CBD5E1] focus:border-[#94A3B8] px-3 py-2 rounded-md text-base;
}

.button {
  @apply py-2 px-4 font-medium rounded-md bg-primary active:scale-y-90 transition-transform duration-200 hover:bg-primary/70 cursor-pointer;
}
